{% include "counter/partials/head.html" %}

<body>
    {% include "counter/partials/header.html" %}

    {% include "counter/partials/search.html" %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="food food-list-item">
                <div class="food-cover">
                    <img src="https://placehold.co/1280x720/blue/white.png" alt="temporario">
                </div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">Batata</h2>
                    <h3 class="recipe-title-description">(100g cozido)</h1>
                </div>
                <div class="food-description">
                    <span class="food-description-item">
                        <i class="fa-solid fa-pizza-slice"></i>
                        Carboidrato
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bacon"></i>
                        Gordura
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bone"></i>
                        Proteina
                    </span>
                </div>
                <footer class="food-footer">
                    <a class="food-read-more button button-dark button-full-width" href="">
                        <i class="fa-solid fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>
            <div class="food food-list-item">
                <div class="food-cover">
                    <img src="https://placehold.co/1280x720/blue/white.png" alt="temporario">
                </div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">Batata</h2>
                    <h3 class="recipe-title-description">(100g cozido)</h1>
                </div>
                <div class="food-description">
                    <span class="food-description-item">
                        <i class="fa-solid fa-pizza-slice"></i>
                        Carboidrato
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bacon"></i>
                        Gordura
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bone"></i>
                        Proteina
                    </span>
                </div>
                <footer class="food-footer">
                    <a class="food-read-more button button-dark button-full-width" href="">
                        <i class="fa-solid fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>
            <div class="food food-list-item">
                <div class="food-cover">
                    <img src="https://placehold.co/1280x720/blue/white.png" alt="temporario">
                </div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">Batata</h2>
                    <h3 class="recipe-title-description">(100g cozido)</h1>
                </div>
                <div class="food-description">
                    <span class="food-description-item">
                        <i class="fa-solid fa-pizza-slice"></i>
                        Carboidrato
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bacon"></i>
                        Gordura
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bone"></i>
                        Proteina
                    </span>
                </div>
                <footer class="food-footer">
                    <a class="food-read-more button button-dark button-full-width" href="">
                        <i class="fa-solid fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>
            <div class="food food-list-item">
                <div class="food-cover">
                    <img src="https://placehold.co/1280x720/blue/white.png" alt="temporario">
                </div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">Batata</h2>
                    <h3 class="recipe-title-description">(100g cozido)</h1>
                </div>
                <div class="food-description">
                    <span class="food-description-item">
                        <i class="fa-solid fa-pizza-slice"></i>
                        Carboidrato
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bacon"></i>
                        Gordura
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bone"></i>
                        Proteina
                    </span>
                </div>
                <footer class="food-footer">
                    <a class="food-read-more button button-dark button-full-width" href="">
                        <i class="fa-solid fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>
            <div class="food food-list-item">
                <div class="food-cover">
                    <img src="https://placehold.co/1280x720/blue/white.png" alt="temporario">
                </div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">Batata</h2>
                    <h3 class="recipe-title-description">(100g cozido)</h1>
                </div>
                <div class="food-description">
                    <span class="food-description-item">
                        <i class="fa-solid fa-pizza-slice"></i>
                        Carboidrato
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bacon"></i>
                        Gordura
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bone"></i>
                        Proteina
                    </span>
                </div>
                <footer class="food-footer">
                    <a class="food-read-more button button-dark button-full-width" href="">
                        <i class="fa-solid fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>
            <div class="food food-list-item">
                <div class="food-cover">
                    <img src="https://placehold.co/1280x720/blue/white.png" alt="temporario">
                </div>
                <div class="recipe-title-container">
                    <h2 class="recipe-title">Batata</h2>
                    <h3 class="recipe-title-description">(100g cozido)</h1>
                </div>
                <div class="food-description">
                    <span class="food-description-item">
                        <i class="fa-solid fa-pizza-slice"></i>
                        Carboidrato
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bacon"></i>
                        Gordura
                    </span>
                    <span class="food-description-item">
                        <i class="fa-solid fa-bone"></i>
                        Proteina
                    </span>
                </div>
                <footer class="food-footer">
                    <a class="food-read-more button button-dark button-full-width" href="">
                        <i class="fa-solid fa-eye"></i>
                        <span>ver mais...</span>
                    </a>
                </footer>
            </div>
        </div>


    </main>
</body>

</html>